{
  "post_title": "AWS Monthly-Billing Daily Report",
  "channel_name": "#system-notification",
  "channel_url": "write Slack WebHook url",
  "service_names": [
    "",
    "AmazonS3",
    "AmazonApiGateway",
    "AWSLambda",
    "AWSCloudTrail",
    "AmazonCloudWatch",
    "AmazonSNS",
    "AWSQueueService",
    "AmazonSES",
    "AmazonCognito",
    "AmazonDynamoDB",
    "AmazonRoute53",
    "AWSMarketplace",
    "AmazonCloudFront",
    "AWSDataTransfer", "awskms", "AmazonEC2", "AmazonRDS"
  ]
}
